/* || GLOBAL RULES */
@font-face {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400 700;
    src: local('Cormorant Regular'), local('Cormorant-Regular'), url(../assets/fonts/cormorant.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 400 700;
    font-display: swap;
    src: local('Rubik Italic'), local('Rubik-Italic'), url(../assets/fonts/rubik-it.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: local('Rubik Regular'), local('Rubik-Regular'), url(../assets/fonts/rubik.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Cutive Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Cutive Mono Regular'), local('Cutive-Mono-Regular'), url(../assets/fonts/cutive-mono.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --default-header-font: 'Cormorant';
    --default-script-font: 'Cutive Mono';
    --default-body-font: 'Rubik';
    --default-font-color: #2b2b2b;
    --default-bg-color: #f5f5f5;
    --default-emph-color: #d9d9d9;
    --default-footer-bg-color: #2b2b2b;
    --default-footer-color: #f5f5f5;
    --default-border-color: black;
    --default-topnav-bg-color: white;
    --default-link-color: #4d3269;
    --bold-weight: 700;
    --normal-weight: 400;
}

